.Gaming--pictures {
    float:left;
    width: 50% ;
    height:auto;
    padding: 20px;
}
.image--pc {
    float:inherit;    
    padding:20px;
}
.Gaming {
    font-size: 20px;
    height: 40px;
    margin-right: 40px;
    padding: 10px;
    color: rgb(4, 86, 51);

}
body{    overflow-y:scroll; }
p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#Gaming-page{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: crimson;
}