.pictures{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px; 
}
.pictures--item1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    
}
.pictures--item2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 200px;
}
.pictures--item3 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
    width: 200px;
    height: 120px;
   
}
.pictures--item4 {
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 4;
    grid-row-end: 8;
    width: 200px;
    height: 140px;
}
.picture--item5 {
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 6;
    grid-row-end: 9;
    width: 200px;
}
.picture--item6 {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 5;
    width: 200px;
}

.picture--item7 {
    grid-column-start:7;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 6;
    width:200px;
}
.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
  }