.pictures {
    /* Add styling to center the images on the screen */
    text-align: center;
    margin: 0 auto;
    /* Add styling to give the images a border */
  }
  
  .gallery__img {
    /* Add styling to make the images bigger */
    height:500px;
    width: 800px;
    object-fit: contain;
  }
  
  
  
  
  