nav{
    color: #ffffff;
    background-color:#968c8c;
    height:50px;
    
}
.nav--text{
    float:left;
    padding-top:10px
}
.nav--right {
    float:right;
    padding-left: 8%;
    padding-top:10px
}
.navbar--logo {
    float:left;
    height: 50px;
}
.form-page {
    background-image: url('https://www.istockphoto.com/vector/math-equations-written-on-a-blackboard-gm1219382595-356664698');
    background-size: cover;
    background-position: center;
 }
 
